:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}
/* Begynd her... */

/* Maksimum-bredden for layoutet er 1100px. */
body {
  max-width: 1100px;
}

section {
  display: flex;
  flex-direction: row;
  outline: dashed 2px pink;

  div:nth-child(2) {
    outline: dashed 2px rgb(14, 177, 57);
    display: grid;
    grid-template-columns: [first-start]1fr [picture1]1fr [last-end]1fr;
    grid-template-rows: [row1]1fr [row2]1fr [row3]1fr [row4]1fr;
    gap: 2rem;

    img {
      border-radius: 25px;
    }
    img:first-of-type() {
      grid-area: row1 picture1 row1 picture1;
    }
    img:nth-of-type(2) {
      grid-area: row2 first-start row2 first-start;
    }
    img:nth-of-type(3) {
      grid-area: row2 picture1 row3 picture1;
    }
    img:nth-of-type(4) {
      grid-area: row2 last-end row2 last-end;
    }
    img:nth-of-type(5) {
      grid-area: row3 first-start row3 first-start;
    }
    img:nth-of-type(6) {
      grid-area: row3 last-end row3 last-end;
    }
    img:nth-of-type(7) {
      grid-area: row4 picture1 row4 picture1;
    }
  }

  div:nth-child(1) {
    h1,
    p {
      font-size: 5rem;
      color: black;
    }

    button {
      max-width: 300px;
      background-color: #3d7bfa;
      border-radius: 50px;
      text-align: center;
    }
  }
}
